<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       
   <!-- load the properties file -->
   <context:property-placeholder location="classpath:sport.properties" />
      
   <!-- Define your beans here -->
   
   <!-- dependency -->
   <bean id="myInstruction"
   		class="org.demo.spring.TrackInstruction">
   </bean>    
       
   <bean id="myInstruction2"
   		class="org.demo.spring.CricketInstruction">
   </bean>    
   
   <bean id="myCoach"
   		class="org.demo.spring.TrackCoach">
   		
   		<!--  constructor injection -->
   		<constructor-arg ref="myInstruction" />
   </bean>
    
   <bean id="myCricketCoach"
   		class="org.demo.spring.CricketCoach">
   		
   		<!-- setter injection -->
   		<property name="instructionService" ref="myInstruction2" />
   		
   		<!-- reference the value from the properties file -->
   		<property name="email" value="${foo.email}"></property>
   		<property name="team" value="${foo.team}"></property>
   </bean>
   
   <bean id="myLoggerConfig" class="org.demo.spring.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
</beans>